
<div class="row justify-content-md-center">
    <div class="col-sm-6 ">
        <form (ngSubmit)="onSubmit(tournamentForm)" #tournamentForm="ngForm">
            <div class="form-group" style="margin:1em">
                <label for="nameElement" class="control-label">Name</label>
                <input id="nameElement" #name="ngModel"type="text" [(ngModel)]="newTournament.name" name="newTournament.name" class="form-control" required>
                <div [hidden]="name.valid" class="alert alert-danger">
                    Name muss angegeben werden!
                </div>
            </div>
        </form>
    </div>
</div>