.arrow-pointer {
    width: 11rem;
    height: 6rem;
    background: #e3b510;
    font-weight: 400;
    color: white;
    clip-path: polygon(0 0, 30% 50%, 0 100%, 70% 100%, 100% 50%, 70% 0);
    display: flex;
    padding-right: 2em;
}


.arrow-pointer-active {
    width: 11rem;
    height: 6rem;
    background: #e38110;
    font-weight: 400;
    color: white;
    clip-path: polygon(0 0, 30% 50%, 0 100%, 70% 100%, 100% 50%, 70% 0);
    display: flex;
    padding-right: 2em;
}

.turn-device-notification {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-label{
    color:white
}