<!--<nav class="navbar navbar-expand-sm bg-dark navbar-dark">    
  <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="'/home'" [routerLinkActive]="'active'">Home</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
</nav>-->

<div class="turn-device-notification" *ngIf="!correctOrientation">
  <label style="margin-top:80%;">
    <fa-stack size="5x">
      <fa-icon [icon]="faMobileScreen" [style]="{'color': 'white'}" stackItemSize="1x" transform="shrink-4"></fa-icon>
      <fa-icon [icon]="faRotate" [style]="{'color': 'white'}" stackItemSize="2x" class="fa-light" [spin]="true"></fa-icon>
    </fa-stack>
  </label>

</div>

<div *ngIf="correctOrientation">
<div class="container-fluid mt-4" style="display:flex; justify-content:center">
  <div [ngClass]="{'arrow-pointer': router.url !== '/new-team', 'arrow-pointer-active': router.url === '/new-team'}" style="display: inline-block">
    <ul class="ps-5" style="text-align: center;">
      <li class="pt-4" style="list-style: none;">
        <label>Turnier</label>
      </li>
      <li style="list-style: none;">
        <label>erstellen</label>
      </li>
    </ul>
  </div>

  <div [ngClass]="{'arrow-pointer': router.url.indexOf('/preparation'), 'arrow-pointer-active': !router.url.indexOf('/preparation')}" style="display: inline-block">
    <ul class="ps-5" style="text-align: center;">
      <li class="pt-4" style="list-style: none;">
        <label>Turnier</label>
      </li>
      <li style="list-style: none;">
        <label>vorbereiten</label>
      </li>
    </ul>
  </div>

  <div [ngClass]="{'arrow-pointer': router.url.indexOf('/play-tournament'), 'arrow-pointer-active': !router.url.indexOf('/play-tournament')}" style="display: inline-block">
    <ul class="ps-5" style="text-align: center;">
      <li class="pt-4" style="list-style: none;">
        <label>Turnier</label>
      </li>
      <li style="list-style: none;">
        <label>spielen</label>
      </li>
    </ul>
  </div>

  <div [ngClass]="{'arrow-pointer': router.url.indexOf('/result'), 'arrow-pointer-active': !router.url.indexOf('/result')}" style="display: inline-block">
    <ul class="ps-5" style="text-align: center;">
      <li class="pt-4" style="list-style: none;">
        <label>Turnier</label>
      </li>
      <li style="list-style: none;">
        <label>auswerten</label>
      </li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>

<notifier-container></notifier-container>
</div>