body{
    max-height:100vh
}
.table-responsive {
    min-height: 50vh;
    max-height: 70vh;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e3b510; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e3b510; 
  }


.tr-phase1{
  background-color: rgba(0, 0, 0, 0);
}


.tr-phase2{
  background-color: rgba(0, 0, 0, 0.1);
}


.tr-phase3{
  background-color: rgba(0, 0, 0, 0.2);
}


.tr-phase4{
  background-color: rgba(0, 0, 0, 0.3);
}
