<div class="container">

    <h1 class="display-2 text-center" style="padding: 0.25em">Turniere</h1>

    <button style="width: 100%;" class="btn btn-success" routerLink="/home">Zurück zur Startseite</button>
    <br>
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Austragungsdatum</th>
                <th>Name</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tournament of tournaments">
                <td>{{tournament.startDate}}</td>
                <td>{{tournament.name}}</td>
                <td>Platzhalter</td>
                <td><button class="btn btn-success" (click)="redirect(tournament.name)">Details</button></td>
                <td><button class="btn btn-success" (click)="remove(tournament.id)">Löschen</button></td>
            </tr>
        </tbody>
    </table>
</div>
