<script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
<link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />

<div class="row justify-content-center" style="margin: 0;">
    <div class="col-sm-6 col-lg-4">
        <h2 style="text-align: center;">Neues Team erstellen</h2>
        <form (ngSubmit)="onSubmit(teamForm)" #teamForm="ngForm">
            <div class="form-group" style="margin-top:0.5em">
                <label for="nameElement" class="control-label">Name</label>
                <input id="nameElement" #name="ngModel"type="text" [(ngModel)]="newTeam.name" name="newTeam.name" class="form-control" required>
                <!--<div [hidden]="name.valid || abbr.pristine" class="alert alert-danger">
                    Name muss angegeben werden!
                </div>-->
            </div>
            <div class="form-group" style="margin-top:0.5em">
                <label for="abbrElement" class="control-label">Abkürzung</label>
                <input id="abbrElement" #abbr="ngModel" type="text" [(ngModel)]="newTeam.abbr" name="newTeam.abbr" class="form-control" required>
                <!--<div [hidden]="abbr.valid" class="alert alert-danger">
                    Abkürzung muss angegeben werden!
                </div>-->
            </div>
            <div class="form-group" style="margin-top:0.5em; text-align: center;" >
                <input type="submit" value="Speichern" class="btn btn-success" />
            </div>
        </form>

        <!--Premade Teams here-->
        <h2 style="text-align: center;">Teams hinzufügen</h2>

    <div class="col" style="display: flex; justify-content: center;">
        <input id="input" type="file"  class="custom-file-input"/>    
    </div>    

    </div>
    <div class="col-sm-6 col-lg-4">
        <!--Selected Teams Table here
        <form (ngSubmit)="onSubmit(teamForm)" #teamForm="ngForm">
            <div class="form-group" style="margin:1em">
                <label for="nameElement" class="control-label">Name</label>
                <input id="nameElement" #name="ngModel"type="text" [(ngModel)]="newTeam.name" name="newTeam.name" class="form-control" required>
                <div [hidden]="name.valid" class="alert alert-danger">
                    Name muss angegeben werden!
                </div>
            </div>
            <div class="form-group" style="margin:1em">
                <label for="abbrElement" class="control-label">Abkürzung</label>
                <input id="abbrElement" #abbr="ngModel" type="text" [(ngModel)]="newTeam.abbr" name="newTeam.abbr" class="form-control" required>
                <div [hidden]="abbr.valid" class="alert alert-danger">
                    Abkürzung muss angegeben werden!
                </div>
            </div>
            <div class="form-group" style="margin:1em">
                <input type="submit" value="Speichern" class="btn btn-primary" />
            </div>
        </form>-->
        <div class="container">
            <h2 style="text-align: center;">Turnier erstellen</h2>
            <div class="form-group" style="margin-top:0.5em">
                <label for="tournamentNameElement" class="control-label">Turniername</label>
                <input id="tournamentNameElement" #tName="ngModel" type="text" [(ngModel)]="tournamentName" name="tournamentName" class="form-control" required>
                <!--<div [hidden]="tName.valid || tName.pristine" class="alert alert-danger">
                    Das Turnier braucht einen Namen!
                </div>-->
            </div>

            <div class="table-responsive" style="min-height: 60vh;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Abkürzung</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let team of addedTeams">
                            <td>{{team.name}}</td>
                            <td>{{team.abbr}}</td>
                            <td>
                                <button class="btn btn-outline-secondary" (click)="deselect(team)">-</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group" style="margin-top:0.5em; text-align: center;" >
                <button (click)="create()"
                [ngClass]="(addedTeams.length==4 || addedTeams.length==8 || addedTeams.length==16) && tournamentName!='' ? 'btn btn-success' : 'btn btn-success disabled'">Turnier starten</button>
            </div>
        </div>
    </div>
</div>